name: Continuous Integration

on:
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install CML
        uses: iterative/setup-cml@v2

      - name: Run Make install
        run: make install

      - name: Run Format
        run: make format

      - name: Run Train
        run: make train

      - name: Run Evaluation + Comment
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: make eval
