name: CI Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:
  
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.12.3"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run training script
      run: |
        python train.py
        
    - name: Prepare metrics markdown
      id: prepare
      run: |
        echo "## Model Metrics" > announcement.md
        cat Results/metrics.txt >> announcement.md
        echo "\n### Confusion Matrix" >> announcement.md
        echo "![confusion](Results/model_results.png)" >> announcement.md

    - name: Comment on pull request
      uses: peter-evans/create-or-update-comment@v4
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        issue-number: ${{ github.event.pull_request.number }}
        body: |
            $(cat announcement.md)

